article {
  display: inline-block;
  line-height: 1.5;
  width: 100%;
  max-width: 240px;
  text-align: justify;
  margin: 20px;
  vertical-align: top;
}

h3 {
  color: #4d5791;
  font-size: 2em;
  margin: 0.67em 0;
}

@media screen and (min-width: 768px) {
article {
      margin: 10px;
      max-width: 340px;
  }
}
